---
import BaseHead from "../components/BaseHead.astro";
import LoginForm from "../components/Auth/LoginForm.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Sign Up" description="Create a new account" />
  </head>
  <body>
    <LoginForm />
  </body>
</html>