---
import BaseHead from "../components/BaseHead.astro";
import SignUp from "../components/Auth/SignUp.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Sign Up" description="Create a new account" />
  </head>
  <body>
    <SignUp />
  </body>
</html>