.notification-container {
  display: inline-block;
}

.notification-bell {
  font-size: 1.65rem;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding-left: 16px;
}

.notification-dropdown {
  position: absolute;
  top: 2.5rem;
  right: 0;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
}

.notification-dropdown h4 {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
  
}

.notification-item.unread::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: red;

}

.notification-message {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
  color: black;

}

.notification-date {
  font-size: 0.8rem;
  color: black;
}
